body {
  background-image: url('test.jpeg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

body::after {
  /* background-image: url('test.jpeg'); */
  opacity: 0.5;
}

.logo img {
  float: left;
  width: 130px; 
  padding: 30px;
}

.logout button {
  float: right;
  width: 70px;
  padding: 30px;
}
